<!doctype html>
<html>
	<head>
		<title>JavaScriptクラス：テスト</title>
		<link href="./scenario.css" rel="stylesheet" type="text/css" />
		<script src="./jquery-3.3.1.min.js"></script>
		<script src="./vue.js"></script>
		<script src="./class.js"></script>
		<script src="./factory.js"></script>
	</head>
	<body>
		<div id="screen" style="float:left;width:70%;height:500px;overflow:scroll;position: relative;">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" v-bind:width="canvas.width" v-bind:height="canvas.height" v-bind:viewbox="canvas.viewbox" style="border:1px dotted black;">
				<svg v-bind:id="node.id" v-bind:x="node.id|x_position" v-bind:y="node.id|y_position" width=100 height=100 class="node" v-for="node in items">
					<rect x="0" y="1" width="100%" height="100%" rx=5 style="stroke-width:1"></rect> 
					<line x1=0 x2="100%" y1=20 y2=20></line>
					<text x=5 y=12 font-size="12" >No.{{node.id}}</text>
				</svg>
			</svg>
		</div>
		<div id="scenario" style="float:left;width:30%">
			<form>
			 <table>
				<tr>
					 <td>タイトル：</td>
					 <td><input type="text" name="text" v-model="input.title"></td>
				</tr>
				<tr>
					 <td>タイプ：</td>
					 <td>
						 <select name="type" v-model="input.type">
							 <option v-for="node in scenario_type" v-bind:value="node.index">{{node.caption}}</option>
						 </select>
					 </td>
				</tr>
				<tr v-if="input.type == NodeType_Message">
					 <td colspan="2">
						メッセージ：<br/>
						<textarea v-model="input.node_message.text"></textarea>
					</td>
				</tr>
				<tr v-if="input.type == NodeType_Card">
					 <td colspan="2">
						<button type="button" v-on:click="item_add" >追加</button>
						<ul style="list-style-type:none;" v-if="input.node_card.items.length" >
							<li v-for="(node,index) in input.node_card.items">
								<select name="card_type" v-model="input.node_card.items[index].type" v-on:change="">
									<option v-for="item in card_type" v-bind:value="item.index">{{item.caption}}</option>
								</select>
								<div v-if="input.node_card.items[index].type == CardType_Text" style="border:1px dotted black;">
									メッセージ：
									<textarea v-model="input.node_card.items[index].message"></textarea>
								</div>
								<div v-if="input.node_card.items[index].type == CardType_Url" style="border:1px dotted black;">
									表示テキスト：<input v-model="input.node_card.items[index].caption" /><br/>
									U R L : <input v-model="input.node_card.items[index].message">
								</div>
								<div v-if="input.node_card.items[index].type == CardType_Api" style="border:1px dotted black;">
									表示テキスト：<input v-model="input.node_card.items[index].caption" /><br/>
									U R L : <input v-model="input.node_card.items[index].message">
								</div>
							</li>
						</ul>
					</td>
				</tr>
				<tr v-if="input.type == NodeType_Api">

				</tr>
				<tr>
					<td colspan="2" style="text-align:center;">
						<button type="button" v-on:click="node_add"> << ツリーに追加</button>&nbsp;&nbsp;
						<button type="button">取消</button>
					</td>
				</tr>
			 </table>
			</form>
		</div>
	</body>
	<script src="./screen.js"></script>
	<script src="./scenario.js"></script>
</html>
