<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>JavaScriptクラス：テスト</title>
		<link href="./scenario.css" rel="stylesheet" type="text/css" />
		<script src="./jquery-3.3.1.min.js"></script>
	</head>
	<body>
		<div id="screen" style="float:left;width:70%;height:500px;overflow:scroll;position: relative;">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" v-bind:width="canvas.width" v-bind:height="canvas.height" v-bind:viewbox="canvas.viewbox" style="border:1px dotted black;">
				<svg v-bind:id="node.id" v-bind:x="node.x" v-bind:y="node.y" v-bind:width="node.width" v-bind:height="node.height" class="node" v-for="node in items">
					<rect x="0" y="1" width="100%" height="100%" rx=5 style="stroke-width:1"></rect> 
					<line x1=0 x2="100%" y1=20 y2=20></line>
					<text x=5 y=12 font-size="12" >No.{{node.id}}:{{node.name}}</text>
					<text x=5 y=35 font-size="12" v-if="node.type == NodeType_Message">
						<tspan x="5" v-bind:y="index|lh" v-for="(text,index) in node.text">{{text}}</tspan>
					</text>
					<g v-if="node.type == NodeType_Card">
						<g v-for="card in node.items">
							<text v-bind:x="card.x" v-bind:y="card.y" fon-size="10" v-if="card.type == CardType_Text">{{card.message}}</text>
						</g>
					</g>
				</svg>
				<g style="stroke-width:1">
					<polyline class="line" v-for="node in lines" v-bind:points="node.points" />
				</g>
			</svg>
		</div>
		<div id="scenario" style="float:left;width:30%">
			<form>
			 <table>
				<tr>
					 <td>ID：</td>
					 <td>{{input.id}}</td>
				</tr>
				<tr>
					 <td>タイトル：</td>
					 <td><input type="text" name="text" v-model="input.title"></td>
				</tr>
				<tr>
					 <td>タイプ：</td>
					 <td>
						 <select name="type" v-model="input.type">
							 <option v-for="node in scenario_type" v-bind:value="node.index">{{node.caption}}</option>
						 </select>
					 </td>
				</tr>
				<tr v-if="input.type == NodeType_Message">
					 <td colspan="2">
						メッセージ：<br/>
						<textarea v-model="input.node_message.text"></textarea>
					</td>
				</tr>
				<tr v-if="input.type == NodeType_Card">
					 <td colspan="2">
						<button type="button" v-on:click="item_add" >追加</button>
						<ul style="list-style-type:none;" v-if="input.node_card.items.length" >
							<li v-for="(node,index) in input.node_card.items">

								<select name="card_type" v-model="input.node_card.items[index].type" v-on:change="">
									<option v-for="item in card_type" v-bind:value="item.index">{{item.caption}}</option>
								</select>

								<div v-if="input.node_card.items[index].type == CardType_Text" style="border:1px dotted black;">
									メッセージ：
									<textarea v-model="input.node_card.items[index].message"></textarea>
									<div><input v-model="input.node_card.items[index].branch" type="checkbox" v-bind:id="index|branch_flat_id" value="1"/><label v-bind:for="index|branch_flat_id">分岐を持つ</label></div>
								</div>

								<div v-if="input.node_card.items[index].type == CardType_Url" style="border:1px dotted black;">
									表示テキスト：<input v-model="input.node_card.items[index].caption" /><br/>
									U R L : <input v-model="input.node_card.items[index].message">
									<div><input v-model="input.node_card.items[index].branch" type="checkbox" id="card_message_flag" value="1"/><label for="card_message_flag">分岐を持つ</label></div>
								</div>

								<div v-if="input.node_card.items[index].type == CardType_Api" style="border:1px dotted black;">
									表示テキスト：<input v-model="input.node_card.items[index].caption" /><br/>
									U R L : <input v-model="input.node_card.items[index].message">
									<div><input v-model="input.node_card.items[index].branch" type="checkbox" id="card_message_flag" value="1"/><label for="card_message_flag">分岐を持つ</label></div>
								</div>

							</li>
						</ul>
					</td>
				</tr>
				<tr v-if="input.type == NodeType_Api">

				</tr>
				<tr>
					<td colspan="2" style="text-align:center;">
						<button type="button" v-on:click="node_add"> << ツリーに追加</button>&nbsp;&nbsp;
						<button type="button">取消</button>
					</td>
				</tr>
			 </table>
			</form>
		</div>
	</body>
	<script src="./vue.js"></script>

	<!-- リファクタリングによって細分化されたクラスファイルのインクルード -->
	<!-- list -->
	<script src="./list/List.js"></script>
	<script src="./list/ListNode.js"></script>
	<script src="./list/Tree.js"></script>
	<script src="./list/TreeNode.js"></script>

	<!-- svg関連 -->
	<script src="./svg/CanvasNode.js"></script>
	<script src="./svg/Line.js"></script>
	<script src="./svg/Point.js"></script>

	<!-- hangout関連 -->
	<script src="./hangouts/HangoutsNode.js"></script>
	<script src="./hangouts/Api.js"></script>
	<script src="./hangouts/Card.js"></script>
	<script src="./hangouts/cards/CardNode.js"></script>
	<script src="./hangouts/cards/CardMessage.js"></script>
	<script src="./hangouts/cards/CardURL.js"></script>
	<script src="./hangouts/Message.js"></script>

	<script src="./factory.js"></script>
	<script src="./screen.js"></script>
	<script src="./scenario.js"></script>
</html>
